{% extends 'base.html' %}
{% block content1 %}
<h4 class="text-center text-danger p-2">ABOUT US</h4>
<p class="f1">
    Shaadi.com, the world's oldest and most successful matchmaking service, has been trusted since 1996 by people all over the world to help them find their soulmates. Today, hundreds of thousands of people have met their life partners through our revolutionary matchmaking service and countless others have made some very special friends.

Shaadi.com was founded by me in 1996 with one simple objective - to provide a superior matchmaking experience by expanding the opportunities available to meet potential life partners. Since then we have created a world renowned service that has touched the lives of millions of people all over the world. We have, however, never rested on our laurels.

</p>
{% endblock content1 %}